.btn {
  padding: 9px 20px 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  font-family: $ff-montserrat;
  text-align: center;
  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s ease;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
