.firstscreen {
  color: $color-alice-blue;
  background-color: #011c40;
  background-position: 50% 100%;
  background-size: cover;

  @include background-image;
}

.firstscreen__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 548px;
  padding: 23px 95px 150px;
  text-shadow: 0 4px 4px $color-black-25;

  h1 {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
