.form-section {
  background-color: var(--bg-color, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;

  @include background-image;

  @include vp-1023 {
    padding: 100px 0;
  }
}

.form-section__inner {
  display: grid;
  grid-template-columns: 1fr 403px;
  gap: 50px;
  align-items: center;
  padding: 0 105px;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.form-section__content {
  color: $color-tangaroa;

  @include vp-1023 {
    text-align: center;
  }

  h2 {
    margin: 15px 0 26px;
    font-weight: 700;
    font-size: 40px;

    @include vp-1023 {
      margin: 0 0 19px;
      font-size: 34px;
    }
  }

  p {
    margin: 0 0 6px;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin: 0 0 3px;
    }
  }
}

.form-section__form {
  max-width: 403px;
  margin: 0 auto;

  @include shadow(45px);
}
