.form {
  padding: 50px;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  align-self: start;

  @include vp-767 {
    padding: 30px 30px 40px;
  }
}

.form__description {
  margin: -7px 0 28px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-767 {
    margin: 4px 0 29px 0;
    line-height: 25px;
    text-align: center;
  }
}

.form__group {
  margin: 0 0 20px;

  input:not([type="checkbox"]) {
    width: 100%;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 1.5;
    color: $color-tangaroa;
    background-color: $color-alice-blue;
    border: none;

    @include default-interactive(false);
  }

  [type="checkbox"] {
    appearance: none;
    display: flex;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;
    user-select: none;
    cursor: pointer;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }

    &:checked::before {
      content: "";
      margin: auto;
      width: 12px;
      height: 8px;
      background-color: $color-tangaroa;

      @include mask("icon-agreement");
    }
  }

  label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    line-height: 13px;
    cursor: pointer;

    @include default-interactive;

    @include vp-767 {
      margin-top: -2px;
      line-height: 12px;
    }

    [type="checkbox"] {
      margin-right: 5px;

      @include vp-767 {
        margin-right: 8px;
      }

      + span {
        width: calc(100% - 24px);

        @include vp-767 {
          width: calc(100% - 28px);
        }
      }
    }
  }

  label[for] {
    @include visually-hidden;
  }
}

.form__group.is-validable {
  :invalid ~ strong {
    display: block;
  }
}

.form__btn {
  width: 100%;
  min-height: 43px;
  margin-top: 10px;

  @include vp-767 {
    margin-top: 8px;
  }
}
