.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  list-style: none;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }
}

.nav__link {
  display: block;
  margin: 0 0 0 33px;
  padding: 10px 0;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-left: 24px;
  }
}

.nav--changes {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}
