.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  list-style: none;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.nav__link {
  display: block;
  margin: 0 0 0 33px;
  padding: 10px 0;
  font-weight: 500;

  @include vp-1023 {
    margin-left: 24px;
  }

  @include vp-767 {
    margin: 0;
    padding: 10px 0 7px 0;
  }
}

.nav--changes {
  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }
}
