<section class="content {{ bemMix }}">
	<div class="content__promo container">
		<div>
			{{ content }}
		</div>

		<div class="content__wrapper">
			{% include 'picture.twig' %}
		</div>

	</div>
</section>
